<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">{{ role }}</h3>
      <h5 class="card-text"><i class="fas fa-glasses mr-2"></i>{{ name }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">id: {{ id }}</li>
      <li class="list-group-item">email: <a href= 'mailto: {{ email }}'>{{ email }}</a></li>
      <li class="list-group-item">github: <a href= 'https://www.github.com/{{ github }}'>{{ github }}</a></li>
    </ul>
  </div>