<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">{{ role }}</h3>
      <h5 class="card-text"><i class="fas fa-user-graduate mr-2"></i>{{ name }}<span class="material-icons-outlined">
        e80c
        </span></h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">id: {{ id }}</li>
      <li class="list-group-item">email: <a href= 'mailto: {{ email }}'>{{ email }}</a></li>
      <li class="list-group-item">School: {{ school }}</li>
    </ul>
  </div>